.dis-flex-c-c, .dis-flex-c-sb {
    display: flex;
    align-items: center
}

.show-more::after, .show-more::before {
    display: block;
    content: '';
    position: absolute;
    left: -20px;
    width: 1.2rem;
    height: .1rem;
    background-color: var(--primary-700)
}

:root {
    --primary-50: #e0f2fb;
    --primary-100: #f5e7d7;
    --primary-200: #eadedf;
    --primary-300: #d9c6e1;
    --primary-400: #c3a4ce;
    --primary-500: #a57c6b;
    --primary-600: #eb6099;
    --primary-700: #744d7e;
    --primary-800: #60d068;
    --primary-900: #f53c5c;
    --error-100: #ff6ee0;
    --error-300: #ff8aa1;
    --error-500: #ff2a3c;
    --error-600: #ec0b1a;
    --error-900: #ec1018;
    --info-100: #e8f2ff;
    --info-600: #f891fc;
    --info-700: #0d76e8;
    --info-900: #f55193;
    --success-200: #e0f2ce;
    --success-400: #57d179;
    --success-500: #30b757;
    --success-700: #fe7738;
    --warning-100: #fe0dc3;
    --warning-300: #f6ce48;
    --warning-500: #e9c309;
    --warning-700: #a08e08;
    --gray-10: #ffffff;
    --gray-20: #ebebeb;
    --gray-30: #d7d7d7;
    --gray-40: #c3c3c3;
    --gray-50: #c4c4c4;
    --gray-100: #9d9d9d;
    --gray-200: #8a8aa8;
    --gray-300: #787878;
    --gray-400: #666666;
    --gray-500: #555555;
    --gray-600: #444444;
    --gray-700: #343434;
    --gray-800: #242424;
    --gray-900: #161616;
    --gray-950: #000000;
    --font-peyda-black: "Peyda-Black", sans-serif;
    --font-peyda-extrabold: "Peyda-ExtraBold", sans-serif;
    --font-peyda-bold: "Peyda-Bold", sans-serif;
    --font-peyda-medium: "Peyda-Medium", sans-serif;
    --font-peyda-regular: "Peyda-Regular", sans-serif;
    --font-peyda-light: "Peyda-Light", sans-serif;
    --font-peyda-thin: "Peyda-Thin", sans-serif;
    --fw-black: 900;
    --fw-extrabold: 800;
    --fw-bold: 700;
    --fw-medium: 500;
    --fw-regular: 400;
    --fw-light: 300;
    --fw-thin: 100;
    --fs-m-h1: 36px;
    --fs-m-h2: 24px;
    --fs-m-title: 18px;
    --fs-m-subtitle: 14px;
    --fs-m-body: 12px;
    --fs-m-caption: 8px;
    --fs-d-h1: 56px;
    --fs-d-h2: 36px;
    --fs-d-title: 28px;
    --fs-d-subtitle: 16px;
    --fs-d-body: 16px;
    --fs-d-caption: 12px
}

.h1, h1 {
    font-family: var(--font-peyda-black);
    font-size: var(--fs-m-h1);
    font-weight: var(--fw-black);
    line-height: 1.2
}

.h2, h2 {
    font-family: var(--font-peyda-extrabold);
    font-size: var(--fs-m-h2);
    font-weight: var(--fw-extrabold);
    line-height: 1.3
}

.title {
    font-family: var(--font-peyda-bold);
    font-size: var(--fs-m-title);
    font-weight: var(--fw-bold);
    line-height: 1.4
}

.subtitle {
    font-family: var(--font-peyda-medium);
    font-size: var(--fs-m-subtitle);
    font-weight: var(--fw-medium);
    line-height: 1.5
}

.body-text, body, p {
    font-family: var(--font-peyda-regular);
    font-size: var(--fs-m-body);
    font-weight: var(--fw-regular);
    line-height: 1.6
}

.caption {
    font-family: var(--font-peyda-thin);
    font-size: var(--fs-m-caption);
    font-weight: var(--fw-thin);
    line-height: 1.4;
    opacity: .8
}

.bg-primary-500 {
    background-color: var(--primary-500)
}

.text-primary-500 {
    color: var(--primary-500)
}

.border-primary-500 {
    border-color: var(--primary-500)
}

.bg-error-500 {
    background-color: var(--error-500)
}

.text-error-500 {
    color: var(--error-500)
}

.bg-info-500 {
    background-color: var(--info-700)
}

.text-info-500 {
    color: var(--info-700)
}

.bg-success-500 {
    background-color: var(--success-500)
}

.text-success-500 {
    color: var(--success-500)
}

.bg-warning-500 {
    background-color: var(--warning-500)
}

.text-warning-500 {
    color: var(--warning-500)
}

.bg-gray-50 {
    background-color: var(--gray-50)
}

.text-gray-800 {
    color: var(--gray-800)
}

.border-gray-300 {
    border-color: var(--gray-300)
}

.bg-surface {
    background-color: var(--gray-10)
}

.bg-surface-dark {
    background-color: var(--gray-900)
}

.text-on-surface {
    color: var(--gray-950)
}

.btn, .text-on-surface-light {
    color: var(--gray-10)
}

.text-light {
    font-family: var(--font-peyda-light);
    font-weight: var(--fw-light)
}

.btn, .text-bold {
    font-family: var(--font-peyda-bold)
}

.text-bold {
    font-weight: var(--fw-bold)
}

.text-center {
    text-align: center !important
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth
}

*, ::after, ::before {
    box-sizing: inherit
}

body {
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: var();
    background-color: #f5f6f8;
    overflow-x: hidden
}

.dis-flex-c-c {
    justify-content: center
}

.g3 {
    gap: 3rem
}

.dis-flex-c-sb {
    justify-content: space-between
}

.btn, .header-wrapper {
    display: flex;
    align-items: center
}

.btn {
    width: 22.3rem;
    height: 6.5rem;
    border-radius: .8rem;
    background-color: var(--gray-950);
    justify-content: center
}

.title-section {
    margin: 5.6rem 0 2.8rem;
}

.show-more {
    display: inline-block;
    color: var(--primary-700);
    position: relative;
    margin-left: 2rem
}

.show-more::before {
    top: 8.2px;
    transform: rotate(135deg)
}

.show-more::after {
    bottom: 8.2px;
    transform: rotate(45deg)
}

.product-item__offer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .4rem 0 0 .5rem;
    width: 5.8rem;
    height: 3.6rem;
    background-color: var(--error-600);
    border: solid .2rem var(--gray-10);
    color: var(--gray-10);
    border-radius: 1.5rem 0 0 1.5rem;
    position: absolute;
    top: 15px;
    right: -2px;
    font-family: var(--font-peyda-bold);
}

.product-item__book-status {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.8rem;
    height: 3.8rem;
    background-color: var(--gray-300);
    border-radius: 0 1.5rem 1.5rem 0;
    position: absolute;
    bottom: 148px;
    left: 0;
    transition: background-color .2s ease-in;
}

.Category-audio-books__link, .Category-text-books__link, .link-page__product {
    color: var(--gray-900)
}

.login-mylib__link, .logo-link, .nav-Download-app__link {
    color: var(--primary-700)
}

a {
    text-decoration: none
}

.header {
    border-radius: 0 0 2rem 2rem
}

.header-wrapper {
    justify-content: space-between;
    padding-top: 1rem
}

.logo-link, .search-header {
    align-items: center;
    display: flex
}

.logo-link {
    gap: 1rem
}

.search-header {
    width: 80rem;
    justify-content: space-between;
    position: relative
}

.input-search {
    width: 100%;
    padding: 1rem;
    border: solid 1px var(--gray-40);
    border-radius: .8rem;
    font-family: var(--font-peyda-regular)
}

.search-header__ico {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 3px;
    width: 5rem;
    height: 3rem;
    transform: rotateY(180deg);
    background-color: #fff
}

.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem
}

.login-mylib__link {
    width: 13rem;
    height: 4.4rem;
    border-radius: .8rem;
    border: solid 1px var(--gray-40);
    gap: .4rem
}

.login-buy__link {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: .8rem;
    border: solid 1px var(--gray-40)
}

.login-user__link {
    width: 8rem;
    height: 4.8rem;
    border-radius: .8rem;
    border: solid 1px var(--gray-40)
}

.nav {
    margin-top: 1.2rem;
    height: 4.8rem
}

.nav-Category {
    gap: 4.5rem
}

.Category-audio-books, .Category-text-books {
    gap: .4rem
}

.hero {
    background: url("../images/baner-1.jpg") center/cover no-repeat;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem
}

.hero .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem
}

.hero-content {
    max-width: 60rem;
    width: 50%;
    color: var(--gray-10);
    padding: 4rem 3rem;
    background: linear-gradient(135deg, rgba(78, 75, 75, .7), rgba(58, 55, 55, .4));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 20px;
    margin: 0 auto;
    text-shadow: 0 2px 4px rgba(0, 0, 0, .3)
}

.hero-description, .hero-title {
    flex-basis: 50%;
    text-align: center;
}

.hero-buttons {
    display: flex;
    justify-content: center
}

.category {
    margin: 5.6rem auto
}

.audio-book, .foreign-novel, .historical-book, .psychology-book, .text-book {
    width: 18rem;
    height: 6rem;
    border: dotted 3px var(--gray-50);
    border-radius: .8rem
}

.audio-book__link, .foreign-novel__link, .historical-book__link, .psychology-book__link, .text-book__link {
    gap: 2rem;
    color: var(--gray-900);
    font-family: var(--font-peyda-black)
}

.product-wrapper {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center
}

.product-item {
    background-color: var(--gray-10);
    width: 20.6rem;
    height: auto;
    transition: all .2s ease-in;
    position: relative;
    overflow-x: hidden;
    border-radius: 0.8rem;
}

.product-item:hover {
    box-shadow: 1px 1px 15px rgba(224, 224, 224, .55);
    transform: translateY(-2px)
}

.product-item__banner {
    background-color: var(--gray-20)
}

.product-item__img {
    display: block;
    padding: 3.7rem;
    border-radius: 4.4rem;
}

.product-item-content {
    padding: 1.6rem
}

.product-item__name-book {
    font-family: var(--font-peyda-bold)
}

.product-item__author {
    margin: .7rem 0 .3rem;
    font-family: var(--font-peyda-medium);
    color: var(--gray-200)
}

.product-item__stars {
    display: flex;
    align-items: center;
    gap: .4rem;
    border-bottom: solid 1px var(--gray-200);
    padding-bottom: 1.2rem
}

.number-stars {
    display: block;
    width: 2rem;
    height: 2rem
}

.prices {
    margin-top: .5rem;
    display: flex;
    gap: 1.6rem
}

.price-off {
    text-decoration: line-through;
    color: var(--gray-200)
}

.product-item:hover .product-item__book-status {
    background-color: var(--gray-600);
}

/**/
.banner {
    margin-top: 5.7rem;
    overflow: hidden;
}

.banner-wrapper {
    border-radius: 1rem;
    background: url("../images/product/Book Card/Back.jpg") no-repeat center left;
    background-size: cover;
}

.banner-wrapper--blue{
    border-radius: 1rem;
    background: url("../images/product/Book Card/Back-blue.jpg") no-repeat center left;
    background-size: cover;
}

.banner-wrapper--pink{
    border-radius: 1rem;
    background: url("../images/product/Book Card/Back-pink.jpg") no-repeat center left;
    background-size: cover;
}

.banner-img__left {
    display: block;
    width: 44.9rem;
    height: 46.6rem;
    mix-blend-mode: hard-light;
}

.banner-img__left--2{
    width: 45rem;
    height: 44rem;
    mix-blend-mode: luminosity;
}

.banner-img__left--3{
    width: 39rem;
    height: 44rem;
    mix-blend-mode: luminosity;
}

.banner-content {
    width: 80rem;
    margin: 0 auto;
    color: var(--gray-10);
}

.banner-content__title {
    font-family: var(--font-peyda-bold);
    font-size: 4.8rem;
    margin-bottom: 2rem;
}

.banner-content__caption {
    font-family: var(--font-peyda-bold);
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.banner-content__link {

}

.Short-description{
    margin-top: 5rem;
}
.Short-description-wrapper{

}
.Short-description__item{
    width: 65rem;
    background-color: var(--gray-10);
    padding:2rem ;
    border-radius: .8rem;
}
.short-description__item-img{
    padding-left: 2rem;
}
.short-description__item-content{

}
.short-description__item-content__title{
    margin: 0 0 1.8rem 0;
}
.short-description__item-content__caption{
    font-family: var(--font-peyda-regular);
    font-size: 1.4rem;
}
.short-description__item-content__link{
    width: 100%;
    height: 4.5rem;
    margin-top: 1.8rem;
    background-color: var(--primary-700);
}

.Lasting-sounds{

}
.Lasting-sounds-wrapper{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 4rem;

}
.Lasting-sounds__item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.4rem;
    width: 19rem;
    height: 19rem;
    border-radius: .8rem;
    background-color: var(--gray-10);

}
.Lasting-sounds__img{

}
.Lasting-sounds__text{
    font-family: var(--font-peyda-bold);
    font-size: 2rem;
}

.footer{
    margin-top: 5rem;
    background-color: #311D35;
    padding: 2rem;
}

.footer  a{
    color: var(--gray-10);
}
.footer-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-item-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;

}
.footer-item-left-menu{

}
.footer-menu{

}
.footer-menu__item{
    padding: 0.8rem 0;
}
.left-menu__link{
}

.footer-title{
    font-size: 1.8rem;
    color: var(--gray-10);
    font-family: var(--font-peyda-bold);
}

.footer-item-right{
    background-color: var(--gray-10);
    width: 30rem;
    height: 31.8rem;
    padding: 2rem;
    border-radius: .8rem;
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    flex-direction: column;
}
.footer-item-right a{
    color: var(--gray-950);
}
.footer-dan-app{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}
.footer-dan-more{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer-dan-more--mt1{
    margin-top: 1.6rem;
}
.footer-dan__mobile-title{
    margin-bottom: 1rem;
}
.footer-dan-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
}
.dan-mobile-images{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;
}
.dan-mobile__play{
    display: flex;

    flex-direction: column;
}
.dan-mobile__play__img{

}
.dan-mobile-title{
    margin-bottom: 1rem;
}

.footer-item-bottom{
    margin-top: 3rem;
    border-top: solid 1px var(--gray-10);
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gray-10);
}
.footer-tik{

}
.footer-tik__text{

}
.footer-media{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}
.footer-media__text{

}
.footer-media__link svg path{
    color: #8a8aa8;
}