@media (max-width: 380px) {}

@media (min-width: 576px) {
    .container {
        width: 54rem;
    }
}

@media (min-width: 768px) {
    .container {
        width: 72rem;
    }
    .hero-content {
        padding: 3rem 2rem;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        width: 95%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 96rem;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 114rem
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1370px;
    }
}
@media (max-width: 768px) {

}